header {
  background-color: #030d36;
  color: yellow;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: start;
}

nav {
  display: flex;
  justify-content: space-between; 
}

ul {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

nav ul li {
  margin-right: 20px; 
}

nav ul li:last-child { 
  background-color: yellow;
  padding: 10px;
  border: 1px solid yellow; 
  border-radius: 5px; 
  font-size: 2cap;
}

nav ul li:last-child:hover { 
background-color: #F7DC6F; 
border-color: #F7DC6F; 
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
cursor: pointer; 
}

nav ul li a {
  color: #FFFFFF; 
  text-decoration: none; 
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #333;
}

.text-box {
  grid-column: 1;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.text-box h2 {
  margin-top: 0;
}

.text-box p {
  margin-bottom: 20px;
}

.image-box {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: #333;
}

.image-box img {
  width: 60%;
  height: auto;
  margin: 20px 30px;
  border-radius: 10px;
}

.explore-box {
  grid-column: 1 / -1; 
  padding: 20px;
  text-align: center;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 20px; 
}

.explore-box p {
  margin-bottom: 0;
}

.explore-box a {
  text-decoration: none;
  color: #337ab7;
}

.explore-box a:hover {
  color: #23527c;
  border-bottom: 2px solid #ffc107; 
  background-color: #fff; 
}

.explore-box strong {
  font-weight: bold;
  color: #337ab7;
}

.info-box {
  background-color: #F7DC6F;
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 350px; 
}

.info-box:hover {
  background-color: #F2C464; 
  cursor: pointer;
}
body{
  background-color: #333;
}
.small-box {
  font-size: 24px;
  font-weight: bold;
  color: #ffff00;
  background-color: #333;
  padding: 8px;
  border-radius: 8px;
}

.centered {
  text-align: center; 
  margin: 0 auto; 

}



.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.box {
  background-color: #333;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.left {
  grid-column: 1;
  font-size: 30px;
}

.right {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.right button:hover {
  background-color: #c0db28;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
}

.gallery-item {
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;

}

.gallery-item img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 10px;
}



.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 20px;
}

.left-column {
  background-color: #FFFFFF; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-column {
  background-color: #34C759; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px; 
}

.polo {
  max-width: 100%;
  margin: 20px auto;
  display: block;
}

.google-btn {
  margin-bottom: 20px;
  width: 100%; 
}

.enviar-btn {
  margin-top: 20px;
  width: 100%; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%; 
}

footer {
  background-color: #333; 
  padding: 20px;
  color: #fff; 
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
}

.footer-column {
  background-color: #444; 
  padding: 20px;
}

.footer-column h3 {
  margin-top: 0; 
}

.footer-column form {
  display: flex; 
  align-items: center;
}

.footer-column input[type="email"] {
  padding: 10px;
  width: 100%; 
  margin-right: 10px; 
}

.footer-column button[type="submit"] {
  background-color: #34C759; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



